.advantages {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  gap: var(--indent);

  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
    align-items:stretch;
  }

  @media screen and (min-width: 1200px) {
    --items: 4;
  }
  &__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
  }
  
  &__image {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 120px;

    background-color: #f5f4fa;

    margin-bottom: 30px;

    border-radius: 4px;
  }

  &__header {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);

    text-align: center;

    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
     text-align: start;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: #757575;
  }
}
