.command {
  padding-top: 60px;
  padding-bottom: 60px;

  background: #f5f4fa;
}

.command__header {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);

  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
}
.command__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}
.command__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));

  text-align: center;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command__images {
  margin-bottom: 30px;
}

.member {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
}
.member__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.member__skill {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
