.contact {
  margin-left: auto;
  display: none;
  gap: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  letter-spacing: 0.02em;
  
  color: #757575;
  text-decoration: none;

  transition-property: color;
  transition: var(--main-animation);
  
  &:hover,
  &:focus {
    color: var(--active-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icon {
  fill: currentColor;
  
  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
  
}
