.contact {
  margin-left: auto;
  display: flex;
  gap: 50px;
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;

  transition-property: color;
  transition: var(--main-animation);
  
  &:hover,
  &:focus {
    color: var(--active-color);
  }
}

.contact__icon {
  fill: currentColor;
}
