.filter-list {
  list-style-type: none;
  display: flex;
  justify-content: baseline;

  gap: 8px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  // margin-bottom: 50px;
}

.filter-list__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
  background: #f5f4fa;

  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  transition-property: background, color, box-shadow;
  transition: var(--main-animation);

  &:first-child {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
  }

  &:hover,
  &:focus {
    background: var(--active-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
