.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bgcolor-foter-top);
}

.footer-container {
  display: flex;
  row-gap: 60px;

  align-items: center;
  text-align: center;

  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    text-align: start;
  }
}

.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}
