.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--bgcolor-foter-top);
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  .footer__header {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
  }