.hero {
  max-width: 1600px;

  background-color: var(--bgcolor-foter-top);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  &__header {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
  }

  &__button {
    background: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: inline-block;
    letter-spacing: 0.06em;
    color: #ffffff;
    border: 0px;
    cursor: pointer;
    padding: 10px 32px;
    transition-property: background;
    transition: var(--main-animation);

    &:hover {
      background: #188ce8;
    }
  }
}
