.logo {
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;

    text-decoration: none;

    letter-spacing: 0.03em;

    color:#212121;

    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-right: 87px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: calc(31/26);
    }

    
  }
  .logo--blue {
    color: var(--active-color);
  }