.logo {
    margin-right: 92px;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
  }
  .logo--blue {
    color: var(--active-color);
  }