.company__header {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: calc(33/28);

  text-align: center;
  letter-spacing: 0.03em;
}

.company__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  gap: var(--indent);

  --items: 1;

  @media screen and (min-width: 480px) {
    --items: 2;
  }

  @media screen and (min-width: 768px) {
    --items: 3;
  }

  @media screen and (min-width: 1200px) {
    --items: 6;
  }
}
.company__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
  height: 92px;
}

.company__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition: var(--main-animation);
  &:hover,
  &:focus {
    border-color: var(--active-color);
  }

  &:hover .company__icon,
  &:focus .company__icon {
    fill: var(--active-color);
  }
}
.company__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition: var(--main-animation);
}
