:root {
    --text-color: #212121;
    --bgcolor: #fff;
    --active-color: #2196f3;
    --bgcolor-foter-top: #2f303a;
    --logo-font:'Raleway';
    --main-font:'Roboto';
    --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);


    --indent: 30px;
    --items:3;
  }